policy_module(grafanad, 1.0.3)

########################################
#
# Declarations
#
#permissive grafanad_t;

## <desc>
## <p>
## Allow grafana to be used with a reverse proxy
## </p>
## </desc>
gen_tunable(grafana_can_reverse_proxy, true)

## <desc>
## <p>
## Allow grafana to connect to alertmanager's default tcp port of 9093
## </p>
## </desc>
gen_tunable(grafana_can_tcp_connect_alertmanager_port, false)

## <desc>
## <p>
## Allow grafana to connect to elasticsearch's default tcp port of 9200
## </p>
## </desc>
gen_tunable(grafana_can_tcp_connect_elasticsearch_port, false)

## <desc>
## <p>
## Allow grafana to connect to influxdb's default tcp port of 8086
## </p>
## </desc>
gen_tunable(grafana_can_tcp_connect_influxdb_port, false)

## <desc>
## <p>
## Allow grafana to connect to mysql's default tcp port of 3306
## </p>
## </desc>
gen_tunable(grafana_can_tcp_connect_mysql_port, false)

## <desc>
## <p>
## Allow grafana to connect to postgresql's default tcp port of 5432
## </p>
## </desc>
gen_tunable(grafana_can_tcp_connect_postgressql_port, false)

## <desc>
## <p>
## Allow grafana to connect to prometheus' default tcp port of 9090
## </p>
## </desc>
gen_tunable(grafana_can_tcp_connect_prometheus_port, false)


type grafanad_t;
type grafanad_exec_t;
init_daemon_domain(grafanad_t, grafanad_exec_t)
init_nnp_daemon_domain(grafanad_t)

type grafanad_unit_file_t;
systemd_unit_file(grafanad_unit_file_t)

type grafanad_conf_t;
files_config_file(grafanad_conf_t)

type grafanad_db_t;
files_config_file(grafanad_db_t)

type grafanad_var_run_t;
files_pid_file(grafanad_var_run_t)

type grafanad_var_lib_t;
files_type(grafanad_var_lib_t)

type grafanad_log_t;
logging_log_file(grafanad_log_t)

type grafanad_port_t;
corenet_port(grafanad_port_t)

########################################
#
# grafanad local policy
#
allow grafanad_t self:tcp_socket create_stream_socket_perms;
allow grafanad_t self:udp_socket create_stream_socket_perms;
allow grafanad_t self:unix_dgram_socket create_socket_perms;

allow grafanad_t grafanad_port_t:tcp_socket { name_bind name_connect };

manage_dirs_pattern(grafanad_t, grafanad_conf_t, grafanad_conf_t)
manage_files_pattern(grafanad_t, grafanad_conf_t, grafanad_conf_t)

manage_dirs_pattern(grafanad_t, grafanad_db_t, grafanad_db_t)
manage_files_pattern(grafanad_t, grafanad_db_t, grafanad_db_t)

manage_dirs_pattern(grafanad_t, grafanad_var_run_t, grafanad_var_run_t)
manage_files_pattern(grafanad_t, grafanad_var_run_t, grafanad_var_run_t)
files_pid_filetrans(grafanad_t, grafanad_var_run_t, { dir file })

manage_dirs_pattern(grafanad_t, grafanad_var_lib_t, grafanad_var_lib_t)
manage_files_pattern(grafanad_t, grafanad_var_lib_t, grafanad_var_lib_t)
files_var_lib_filetrans(grafanad_t, grafanad_var_lib_t, { dir file })

manage_dirs_pattern(grafanad_t, grafanad_log_t, grafanad_log_t)
manage_files_pattern(grafanad_t, grafanad_log_t, grafanad_log_t)
logging_log_filetrans(grafanad_t, grafanad_log_t, { dir file })

corenet_tcp_bind_generic_node(grafanad_t)

kernel_dgram_send(grafanad_t)
kernel_read_net_sysctls(grafanad_t)
kernel_read_system_state(grafanad_t)

auth_read_passwd(grafanad_t)

sysnet_read_config(grafanad_t)

logging_send_syslog_msg(grafanad_t)

miscfiles_read_generic_certs(grafanad_t)

tunable_policy(`grafana_can_reverse_proxy',`
	gen_require(`
		type httpd_t;
	')

	connect_grafana_port(httpd_t) # Reverse proxy support
	corenet_tcp_connect_http_port(grafanad_t)
')

#optional_policy(`
#	tunable_policy(`grafana_can_tcp_connect_alertmanager_port',` # Alertmanager default tcp port 9093
#		connect_alertmanager_prometheusd_port(grafanad_t)
#	')
#')

optional_policy(`
	tunable_policy(`grafana_can_tcp_connect_elasticsearch_port',` # Elasticsearch default tcp port 9200
		corenet_tcp_connect_wap_wsp_port(grafanad_t)
	')
')

optional_policy(`
	tunable_policy(`grafana_can_tcp_connect_influxdb_port',` # Influx DB default tcp port 8086
		# No policy yet created for InfluxDB
	')
')

optional_policy(`
	tunable_policy(`grafana_can_tcp_connect_mysql_port',` # Mysql default tcp port 3306
		corenet_tcp_connect_mysqld_port(grafanad_t)
	')
')

optional_policy(`
	tunable_policy(`grafana_can_tcp_connect_postgressql_port',` # PostgresSQL default tcp port 5432
		corenet_tcp_connect_postgresql_port(grafanad_t)
	')
')

optional_policy(`
	tunable_policy(`grafana_can_tcp_connect_prometheus_port',` # Prometheus default tcp port 9090
		corenet_tcp_connect_websm_port(grafanad_t)
	')
')
