## <summary>policy for grafanad</summary>

########################################
## <summary>
##	Execute grafanad_exec_t in the grafanad domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`grafanad_domtrans',`
	gen_require(`
		type grafanad_t, grafanad_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, grafanad_exec_t, grafanad_t)
')

######################################
## <summary>
##	Execute grafanad in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`grafanad_exec',`
	gen_require(`
		type grafanad_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, grafanad_exec_t)
')
########################################
## <summary>
##	Execute grafanad server in the grafanad domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`grafanad_systemctl',`
	gen_require(`
		type grafanad_t;
		type grafanad_unit_file_t;
	')

	systemd_exec_systemctl($1)
        systemd_read_fifo_file_passwd_run($1)
	allow $1 grafanad_unit_file_t:file read_file_perms;
	allow $1 grafanad_unit_file_t:service manage_service_perms;

	ps_process_pattern($1, grafanad_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an grafanad environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`grafanad_admin',`
	gen_require(`
		type grafanad_t;
	type grafanad_unit_file_t;
	')

	allow $1 grafanad_t:process { signal_perms };
	ps_process_pattern($1, grafanad_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 grafanad_t:process ptrace;
    ')

	grafanad_systemctl($1)
	admin_pattern($1, grafanad_unit_file_t)
	allow $1 grafanad_unit_file_t:service all_service_perms;
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
